{{ define "main" }}
{{- $roadmap    := cond (not .Params.roadmap) .Site.Data.roadmap .Params.roadmap }}
{{- $percentage := cond (not $roadmap.percentage) .Params.percentage $roadmap.percentage }}
{{- $timeline   := cond (not $roadmap.timeline) .Params.timeline $roadmap.timeline }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">{{ .Title }}</h1>
  </section>
</div>
<section class="generic-single">
  <div class="single-container{{ if eq .Title "Roadmap"}} large{{ end }} markdown">
    <style>
      /*
      /// Timeline
      */
      .timeline {
        margin-bottom: 5rem;
        padding-left: 30px;
        list-style: none;
        border-left: 8px solid #f2ffde;
      }

      @media only screen and (min-width: 600px) {
        .timeline {
          margin: 50px 0 8rem 150px;
          padding-left: 30px;
          list-style: none;
          border-left: 8px solid #94f69e;
        }
      }

      .timeline a {
        color: var(--background-color-body, #fff);
      }

      .timeline li {
        position: relative;
        margin: 40px 0;
      }

      .timeline p {
        margin: 5px 0;
      }

      @media only screen and (min-width: 600px) {
        .timeline .date {
          font-family: "Futura", "Century Gothic", "Consolas", "Arial", sans-serif;
          position: absolute;
          top: 35%;
          left: -258px;
          width: 200px;
          margin-top: -10px;
          line-height: 20px;
          font-size: 0.95em;
          text-align: right;
          font-weight: bold;
        }
      }

      .timeline .circle {
        position: absolute;
        top: 50%;
        left: -44px;
        display: block;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        border: 5px solid var(--color-grey-verylight);
        border-radius: 50%;
        background: #48b379;
      }

      .timeline .work {
        display: flex;
        align-items: center;
        min-height: 80px;
      }

      .timeline .content p {
        overflow: hidden;
        max-height: 200px;
        text-align: justify;
        word-break: break-word;
      }

      .timeline .flex {
        display: flex;
        padding-left: 0px;
        flex-direction: column;
      }

      .timeline label {
        font-size: 1.3em;
        font-weight: bold;
        cursor: auto;
      }

      .timeline .radio {
        display: none;
      }

      @media only screen and (min-width: 600px) {
        .timeline .content {
          max-height: 180px;
          transform: translateX(20px);
          border-width: 2px;
          border-style: solid;
          border-color: var(--color-grey-light,transparent);
          border-radius: 0.5em;
        }

        .timeline label {
          z-index: 100;
          top: 20px;
          transform: translateX(22px);
        }

        .timeline .content {
          position: relative;
          margin-right: 20px;
        }

        .timeline .content:before,
        .timeline .content:after {
          position: absolute;
          content: "";
          right: calc(100% + 1px);
          width: 0;
          height: 0;
          pointer-events: none;
          border: solid transparent;
        }

        .timeline .content:before {
          top: 50%;
          margin-top: -20px;
          border-width: 20px;
          border-right-color: inherit;
        }

        .timeline .content:after {
          top: 50%;
          margin-top: -17px;
          border-width: 17px;
        }
      }
    </style>
      {{- range $roadmap.theme }}
        {{- range .topics }}
        {{ with .activities }}
          {{- range . }}
            {{- with .charge }}
              {{ range $key, $value := . }}
                {{- $key := (string (index $.Site.Data.month $key)) }}
                {{- $.Scratch.Set $key dict }}
                {{- $.Scratch.Set (printf "%s-time" $key) slice }}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- range $roadmap.theme }}
      {{- $nametheme := .name }}
        {{- range .topics }}
        {{- $startdatebest := slice }}
        {{- $enddatebest   := slice }}
        {{- $statusslice   := slice }}
        {{- $nametopics    := .name }}
        {{- with .activities }}
          {{- range . }}
            {{- $nameactivities := .name }}
            {{- $startdate     := "" }}
            {{- $enddate       := "" }}
            {{- $values := . }}
            {{- if .startdate }}{{ $startdate = time.AsTime .startdate }}{{ end }}
            {{- if .deadline  }}{{ $enddate  = time.AsTime .deadline }}{{ end }}
            {{- $startdatebest   = $startdatebest   | append $startdate }} 
            {{- $enddatebest     = $enddatebest     | append $enddate }}
            {{- $statusslice     = $statusslice     | append .status }} 
            {{- $.Scratch.SetInMap (printf "roadmap%s" $nametopics) "startdate" (index $startdatebest 0) }}
            {{- $.Scratch.SetInMap (printf "roadmap%s" $nametopics) "enddate"   (index (last 1 $enddatebest) 0) }}
            {{- $.Scratch.SetInMap (printf "roadmap%s" $nametopics) "status"    (uniq $statusslice) }}
            {{- $cond := cond (and .charge $percentage) true (cond (not (and .charge $percentage)) true false) }}
            {{- if $cond }}
              {{- $keyname := (printf "%s£%s£%s" $nametheme $nametopics $nameactivities) }}
              {{- if .charge }}
                {{- range $key, $value := .charge }}
                  {{- $key := (string (index $.Site.Data.month $key)) }}
                  {{- $.Scratch.Set $key (merge (dict $nameactivities .) ($.Scratch.Get $key)) }}
                  {{- $.Scratch.Add (printf "%s-%s-time" $key $nametheme) . }}
                  {{- $.Scratch.Add (printf "%s-timetotal" $key) . }}
                  {{- $.Scratch.Add (printf "%s-%s-timetotal" $key $nametheme) . }}
                  {{- $.Scratch.SetInMap (printf "roadmap%s" $nametheme) $key ($.Scratch.Get $key) }}
                  {{- $.Scratch.SetInMap "roadmap" $keyname (merge $values (dict "theme" $nametheme "topics" $nametopics "activity" $nameactivities "startdateconverted" $startdate)) }}
                {{ end -}}
              {{- else -}}
                {{- $.Scratch.SetInMap "roadmapaction" $keyname (merge $values (dict "theme" $nametheme "topics" $nametopics "activity" $nameactivities "startdateconverted" $startdate)) }}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
        {{- end -}}
      {{- end -}}
      {{ partialCached "content.html" .Content .Content }}
      <div{{ if not $timeline }} hidden{{ end -}}>
        <h2>Déroulement des tâches</h2>
          <ul class='timeline'>
          {{- with ($.Scratch.Get "roadmapaction") }}
          {{- range (sort . "startdateconverted" "asc") }}
            {{- if .startdate -}}
            <li class="work">
              <input class='radio' id='work' name="works" type="radio">
              <div class="flex flex-column">
                <label for="">{{ .activity }} <small>({{ .topics }} - {{ .theme }})</small></label>
                <span class="date">
                  {{- with .startdate -}}<time datetime="{{ time.Format "2006-01-02T15:04:05Z07:00" . | safeHTML }}">{{ time.Format "2 Jan 2006" . }}</time>{{ else }}Aucune Date{{ end }}
                  <br>to {{  with .deadline -}}<time datetime="{{ time.Format "2006-01-02T15:04:05Z07:00" . | safeHTML }}">{{ time.Format "2 Jan 2006" . }}</time>{{ else }}Aucune Date{{ end }}
               </span>
                <span class="circle"></span>
                <div class="content">
                    {{- with .description -}}
                    <p>
                    {{ . }}
                    </p>
                    {{- end -}}
                </div>
              </div>
            </li>
            {{- end -}}
          {{ end -}}
          {{ end -}}
          </ul>
      </div>

      <h2>Tableau de tâches par missions</h2>
      
      <table>
        <caption hidden>Tableau récapitulatif de la répartition</caption>
        <thead>
          <tr>
          <th  style="width:150px">Axes</th>
          <th  style="width:150px">Sujets</th>
          {{- range seq 8 12 }}
            <th>{{ substr (index $.Site.Data.month (string .)) 0 }}</th>
          {{ end -}}
          </tr>
        </thead>
        <tbody>
            {{- range $roadmap.theme }}
            {{- $name := .name }}
            {{- $len  := len .topics -}}
            {{- range $id, $value := .topics }}
            {{- $nametopics := .name }}
            <tr>
            {{ if eq $id 0 }}
              <th rowspan="{{ $len }}">
                  {{ $name }}
              </th>
            {{ end -}}
              <td>{{ .name }}</td>
              {{- range seq 8 12 }}
                  <td
                    {{ $seq := . }}
                    {{ $status := ($.Scratch.Get (printf "roadmap%s" $nametopics )).status }}
                    {{ $startdateactivities  := ($.Scratch.Get (printf "roadmap%s" $nametopics )).startdate }}
                    {{ $deadlineactivities   := ($.Scratch.Get (printf "roadmap%s" $nametopics )).enddate }}
                    {{ if $deadlineactivities }}
                    {{ if and (not $startdateactivities)  (le $seq ($deadlineactivities).Month | int) }} style="background: rgba(57, 22, 92, 0.8);"
                    {{ else }}
                    {{ if $startdateactivities }}
                    {{ if and (ge $seq ($startdateactivities).Month | int)  (le $seq ($deadlineactivities).Month | int) }} style="background: rgba(57, 22, 92, 0.8);" 
                    {{- end -}}
                    {{- end -}}
                    {{- end -}}
                    {{- end -}}
                  >{{ if and (eq (len $status) 1) (eq (index $status 0) "archived") }}{{ $status }}{{ end }}
                  </td>
              {{ end -}}
            </tr>
            {{ end -}}
            {{ end -}}
        </tbody>
      </table>
      
      {{- range $roadmap.theme }}
        {{- $nametheme := .name }}
        <h3 class="mb-0">{{ .name }}</h3>
        <p class="mt-0">{{ .description | markdownify }}</p>
          <table>
            <caption hidden>Tableau des actions menées pour <strong>{{ .name }}</strong></caption>
            <thead>
              <tr>
                <th style="width:150px; text-align: left;">Sujet</th>
                <th>Activité</th>
                <th hidden>Temps</th>
                <th  style="width:100px">Echéance</th>
                {{- if $percentage }}
                {{- range seq 8 12 }}
                  <th style="width:70px">{{ (substr (index $.Site.Data.month (string .)) 0 3)  }}</th>
                {{ end -}}
                {{ end -}}
                <th>Avancement</th>
              </tr>
            </thead>
          <body>
          {{- range .topics }}
            {{- $nametopics := .name -}}
            {{- $len := len .activities -}}
              {{- with .activities -}}
              {{- range $id, $value := sort . ".deadline" "asc" -}}
                {{- $nameactivities := .name }}
                {{- $startdateactivities  := .startdate }}
                {{- $durationactivities   := .duration }}
                {{- $deadlineactivities   := .deadline }}
                {{- $comment              := .comment }}
                {{- $status               := .status }}
                {{- $values := . }}
                {{- $cond := cond (and .charge $percentage) true (cond (not (and .charge $percentage)) true false) }}     
                {{- with $cond }}    
                <tr{{ if eq $status "closed" }} style="background: #dededebb;"{{ else if eq $status "waiting" }} style="background: #e4f7e4;"{{ end }}>
                    {{ if eq $id 0 }}<th style="font-size: 1rem; text-align: left;" rowspan="{{ $len }}"><strong>{{ $nametopics }}</strong></th>{{ end }}
                    {{- if ne $status "archived"}}
                    <td>{{ $nameactivities }}{{ if eq $status "progress" }} 🚩{{ end }}</td>
                    <td hidden>{{ with $durationactivities }}{{ . }} j{{ else }}-{{- end -}}</td>
                    <td>{{ with $deadlineactivities }}{{ time.Format "2 January 2006" . }}{{ else }}-{{- end -}}</td>
                    {{- range seq 8 12 }}
                    {{- if $percentage }}
                    <td{{ $seq := . }}{{ if $deadlineactivities }}{{ if and (not $startdateactivities)  (le $seq (time.AsTime $deadlineactivities).Month | int) }} style="background: rgba(57, 22, 92, 0.8);"{{ else }}{{ if and (ge $seq (time.AsTime $startdateactivities).Month | int)  (le $seq (time.AsTime $deadlineactivities).Month | int) }} style="background: rgba(57, 22, 92, 0.8);" {{- end -}}{{- end -}}{{- end -}}></td>
                    {{ end -}}
                    {{ end -}}
                    <td>{{ with $comment }}{{ . | markdownify }}{{ else }}-{{- end -}}</td>
                    {{- end -}}
                </tr>
                {{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
          </body>
        </table>
      {{- end -}}
  </div>
</section>
{{- end -}}