@charset "UTF-8";

// Styles
@import
'/styles';

:root {
  --base-primary: 245 !important;
  --base-sat: 80% !important;
  --base-light: 38% !important;
  --form-control-color: var(--color-primary) !important;
  --background-color-main: #fcfdfe;
  --background-color-section: #fdfdfd !important;
  --title-font-name: "atkinson", "Roboto", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  --base-font: "atkinson","Roboto", "Calibri", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  --color-ui: rebeccapurple;
}
