{{ define "main" -}}
{{- $data := .Site.Data.people.accessibility }}
{{- $dataentity := .Params.data }}

<div class="container--sm">
  <section class="page-header">
    <h1 class="page-header-title">{{ .Title }}</h1>
    <p class="page-header-desc">
      {{- with .Params.Summary -}}
        {{- . -}}
      {{- else -}}
        {{- with .Description -}}
          {{- . | markdownify -}}
        {{- end -}}
      {{- end -}}
    </p>
    {{- partial "print/links" (dict "context" . "slides" .Params.slides) -}}
  </section>
  <section{{- with .Params.autonumbering }} autonumbering{{- end }}>
      {{ with .Content }}{{ partial "content.html" . . }}{{- end }}
      {{ $path := .Path }}
      {{- if eq (index (last 1 (split .Path "/")) 0) "entities" }}
        {{- $type := slice }}
        {{- range $data }}
          {{ $type = $type | append .type }}
        {{ end -}} 
        {{- $type = $type | uniq | sort }}
        {{- range $type }}
        <h2>{{ . }}</h2>
            {{- range where $data ".type" . }}
            {{ with .name }}<h3 class="mb-0"><a href="{{ $path }}/{{ anchorize . }}">{{ . }}</a></h3>{{ end }}
            {{ $assessment := (index (where $dataentity "name" (string .name)) 0).assessment }}
            {{ (index (where $dataentity "name" (string .name)) 0).note | markdownify }}
            {{ partial "scores/skills" (dict "name" .name "dataentity" ($assessment)) }}
            {{ if not (index $assessment.legal "1-regulations") }}<b>> Assessment missing <</b>{{ end }}
            {{- if reflect.IsMap (index (where $dataentity "name" (string .name)) 0).assessment.needsfromgroup }}
             <p><strong>Needs from Sopra Steria Group :</strong><br>
                {{ $needsfromgroup :=(index (where $dataentity "name" (string .name)) 0).assessment.needsfromgroup.value }}
                {{ with $needsfromgroup }}
                  <ul>
                  {{ range . }}
                    <li>{{ . }}</li>
                  {{ end }}
                  </ul>
                {{ end }}
              </p>
            {{ end -}}
            {{ end -}}
        {{ end }}
      {{- else }}
        {{- $range := cond (ne (len .Sections) 0) .Sections .RegularPages }}
            {{- range $id, $value := $range }}
            {{ partial "posts/post-entry.html" . }}
            <div class="post-entry-divider"></div>
            {{- end }}
        {{ end -}}
  </section>
</div>
{{- .Store.SetInMap "keys" "3-business" (slice (slice "Accessibility systematically proposed" "1-propose") (slice "Shelf Offer" "4-offers")) }}
{{- .Store.SetInMap "keys" "1-legal"  (slice (slice "Difference<br>Public/Private" "2-publicprivate") (slice "WCAG Rules" "4-rules") (slice "EAA<br>Game Changer" "5-eaa")) }}
{{- .Store.SetInMap "keys" "2-skills" (slice (slice "Experts" "1-experts") (slice "Sensitized" "2-sensitized") (slice "Trained" "3-trained")) }}

{{- if $dataentity }}
<div class="container">
<br>
<hr>
{{- $type := slice }}
{{- range $data }}
  {{ $type = $type | append .type }}
{{ end -}} 
{{- $type = $type | uniq | sort }}
<h2>Key figures</h2>

<h3>Assessment Status</h3>
<table>
  <caption class="invisible">Status by entity</caption>
  <thead>
    <tr>
      <th>Entities</th>
      <th>Status</th>
      <th>Leader</th>
      <th>Contact established</th>
    </tr>
  </thead>
  <tbody>
    {{- range $key, $value := $dataentity }}
        <tr>
          <th style="font-size: 1rem;">{{ $value.name }}</th>
          <td>{{ if not (index .assessment.perimeter "1-entitiescovered") }}<b>Assessment missing</b>{{ else }}Ok{{ end }}</td>
          <td>
            {{- range $key, $value := ((index (where $data "name" $value.name) 0).contact) }}{{ $name := .name}}{{ with .main }}{{ $name }}{{ end }}{{ end }}
          </td>
          <td>
             {{ index ((index (where $data "name" $value.name) 0).meeting) 0 }}
          </td>
        </tr>
    {{ end }}
  </tbody>
</table>


{{- range $type }}
{{ $type := . }}
<h3>{{ $type }}</h3>
<table>
  <caption class="invisible">Comparative data from the july 2025 assessment</caption>
  <thead>
    <tr>
      <th style="font-size: 1rem;width: 90px;">Topics</th>
      <th style="font-size: 1rem;width: 120px;"></th>
      {{- range $dataentity }}
      {{- if eq ((index (where $data "name" .name) 0).type) $type }}
      <th>{{ .name }}</th>
      {{ end -}}
      {{ end -}}
    </tr>
  </thead>
  <tbody>
        {{- range $key, $value := ($.Store.Get "keys") }}
        {{ $len := (len .)}}
        {{ $key := index (last 1 (split $key "-")) 0 }}
        {{- range $id, $value := . }}
        {{- if not (and (eq ($type) "Service Centres") (eq $key "legal")) }}
        <tr>
          {{ if eq $id 0 }}<th rowspan="{{ $len }}" style="font-size: 1rem;">{{ $key | humanize}}</th>{{ end }}
          <td>{{ index . 0 | safeHTML }}</td>
        {{- range $dataentity }}
          {{- if reflect.IsMap . }}
          {{- if eq ((index (where $data "name" .name) 0).type) $type }}
          <td>
            {{- with (index (index .assessment $key) (index $value 1)).value }}
              {{ if eq . true}}Yes{{ else }}
                {{ . }}{{ end }}
              {{ else }}
              {{ if eq . false }}
                No
              {{ else }}
              {{ with (index (index .assessment $key) (index $value 1)).number }}
                {{ . }}
              {{ else }}
                -
              {{ end -}}
              {{ end -}}
            {{ end -}}
          </td>
          {{ end -}}
          {{ end -}}
        {{ end -}}
        </tr>
        {{ end -}}
        {{ end -}}
      {{ end -}}
  </tbody>
</table>
{{ end -}}

</div>
{{ end -}}

{{ end }}