@font-face {
  font-family: Atkinson;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Atkinson-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Atkinson;
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/Atkinson-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Atkinson;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Atkinson-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Virgil";
  src: url("./../fonts/virgil/virgil.woff2");
  font-display: swap;
}
