.markdown {
  @include font-size('base');

  p > img, figure > img {
    max-width: 100%;
    height: auto;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  figcaption {
    @include font-size('sm');
    color: var(--color-contrast-high);
    font-weight: 300;
  }
}