.medals {
  margin: 1rem auto;
}

.medal {
  padding: 0 0.3em 0 0;
  border: 1px solid #555;
  border-radius: 5px;
}

.page-header--c .medals {
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}

.page-header--c .medal {
  min-width: 8rem;
  min-height: 5rem;
  list-style: none;
  text-align: center;
  border: none;
}

.medal span {
  display: inline-block;
  padding: 0 0.3em;
  min-width: 2.5em;
  font-weight: 700;
  color: var(--background-color-body, #f5f5f5);
  border-radius: 3px;
  background: #085279;
  text-align: center;
}

.page-header--c .medal span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.2em;
  width: 3em;
  height: 3em;
  font-weight: 700;
  color: var(--background-color-body, #f5f5f5);
  border-radius: 50%;
  border: 2px solid #333;
  background: #085279;
}
