.toc {
  @include respond-to('x-large') {
    position: sticky;
    top: 2rem;
    align-self: start;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  padding: 1em;
  background: #fdfdfd;
  border: 1px solid #f1f1f1;
}

.toc-header, .toc-drop-icon {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.toc-content {
  ol {
    padding-left: 0;
    list-style: decimal inside;
  }
  ol ol {
    padding: 0.2rem 0 0.5rem 1rem;
  }
  li {
    font-size: 1.15rem;
  }

  li li {
    font-size: 1rem;
  }
}

.toc-contents {
  display: none;

  li {
    font-size: 90%;
  }

  &--active {
    display: block;
  }

  @include respond-to('x-large') {
    display: block;

    &--active {
      display: none;
    }
  }
}

#js-toc-toggle {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 20px;
  background-color: var(--color-contrast-lower);
  border-radius: 20px;

  &:hover {
    cursor: pointer;
    color: var(--color-primary);
  }
}
