{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    {{ $Titre := cond (eq .Type "categories") (i18n "title-categories") (cond (eq .Type "taxonimies") (i18n "title-categories") .Title) }}
    <h1 class="page-header-title">{{ $Titre  }}</h1>
  </section>
  <div class="terms mt-2">
    {{ $taxonomy := .Type }} <!-- "categories" ou "tags" -->
    {{ with .Site.Taxonomies }}
      {{ range (index . $taxonomy) }}
        <a class="term" href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup class="term-count">{{ .Count }}</sup></a>
      {{ end }}
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}
