{{ define "main" -}}
<div class="container">
  <section class="page-header">
    <h1 class="page-header-title">{{ .Title }} - {{ with .Site.Data.people }}<small>{{ len (.) }}{{ end }} dans la liste</small></h1>
    <p class="page-header-desc">
      {{- with .Params.Summary -}}
        {{- . -}}
      {{- else -}}
        {{- with .Description -}}
          {{- . -}}
        {{- end -}}
      {{- end -}}
    </p>
  </section>
  <section>
    <h3>Contactés ou non</h3>
    {{ range (sort .Site.Data.people "contacted" "desc") }}
    {{ if .interview }}
    {{ else }}
    <div class="b-bottom">
        {{ with .name }}{{ . }}{{ end }}{{ with .sector }} - <strong>{{ . }}</strong> {{ end }} {{ with .contacted }} ✔️{{ else }} ❌{{ end }}<br>
    </div>
    {{ end }}
    {{ end }}
    <h3>Interviewé(s)</h3>
    {{ range (sort .Site.Data.people "interview" "desc") }}
    {{ if .interview }}
    <div class="b-bottom">
        {{ with .name }}{{ . }}{{ end }}{{ with .sector }} - <strong>{{ . }}</strong>{{ end }}<br>
        Interviewé :{{ with .interview }} {{ . }}{{ else }} ❌<br>Contacté : {{ with .contacted }} ✔️{{ else }} ❌{{ end }}{{ end }}
    </div>
    {{ end }}
    {{ end }}
    {{ range .RegularPagesRecursive }}
    <div>
        <div class="project-entry-info">
          <h3 class="project-entry-title">
            <a href="{{ .Permalink }}">{{ .Params.name }}</a>
            <sup>{{ partial "general/label-drafts.html" . }}</sup>
          </h3>
          <div class="project-list-meta">
            {{ with .Params.techstack }}
            {{ range . }}
              <span>{{ . }}</span>
            {{ end }}
            {{ end }}
          </div>
          <p class="project-list-summary">
            {{- with .Params.Summary -}}
              {{ . }}
            {{- else -}}
              {{- .Description -}}
            {{- end -}}
          </p>
          <hr>
        </div>
      </div>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </section>
</div>
{{ end }}