<div class="project-list offers">
{{- range .Page.Params.offers }}
  <div class="project-entry offers">
    <div class="project-entry-info">
      <h4 class="project-entry-title">
        {{ .title }}&nbsp;
        {{- if and .days -}}-
          <small class="m0">{{ .days }}</small>
        {{ end -}}
      </h4>
      {{- with .description }}
        <p>{{ . | markdownify }}</p>
      {{ end -}}
      {{- with .skills }}
          <br>
          <p class="m0">
            {{- range . }}
              #{{ . }}
            {{ end -}}
          </p>
        {{ end -}}
      <div>
      {{- with .goals }}
      <ul>
        {{- range . }}
        <li>{{ . }}</li>
        {{ end -}}
      </ul>
      {{ end -}}
      <div class="project-list-footer">
        {{- with .skillss }}
          <p class="m0">
            {{- range . }}
              #{{ . }}
            {{ end -}}
          </p>
        {{ end -}}
      </div>
      </div>
    </div>
  </div>
{{ end -}}
</div>
<style>
:root {
  --element_color: #fff;
}

.project-list {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  //display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
  gap: 2em 1em;
  align-items: stretch;
  font-size: 80%;

  & > * {
    flex: 1 1 350px;
  }
}

.section-offers {
  margin-bottom: 1em;
  padding: 1em 3em;
  border: 1px solid #dedede;
  background: #fefefe;
}

.project-list-footer {
  break-inside: avoid;
}

.project-entry {
  border-radius: 0.625em;
  box-shadow: 0 0 1.25em -0.625em #101010, 0 0 1.25em -0.625em   #101010;
  max-width: 750px;
  //min-width: 45%;
  //max-width: 45%;
  //flex: 1;
  break-inside: avoid;
}

.project-entry:has(h4) {
  border-top: 0.25em solid #101010;
}

.project-entry p {
    margin: 0;
}

.item {
  grid-area: var(--grid-place);
  background: var(--element_color);
}

.offers .project-entry {
  position: relative;
  margin-bottom: 1em;
  border-color: black;
  border-radius: 0px;
  background-color: var(--element_color);
  box-shadow: none;
  break-inside: avoid;
}

.offers .project-double {
  // box-shadow: 0.4375em 0.625em 0 0 rgb(175, 137, 212), inset 0 0 0px 0.4375em rgba(175, 137, 212, 0.5);
}

.offers .project-entry:before {
  //content: "";
  position: absolute;
  top: -0.25em;
  right: -0.25em;
  width: 0;
  height: 0;
  border-bottom: 1.5625em solid #000;
  border-right: 1.5625em solid var(--element_color);
}

.offers .project-entry:after {
  //content: "";
  position: absolute;
  top: -0.1em;
  right: -0.750em;
  width: 0.5em;
  height: 1.35em;
  background: var(--element_color);
}

.offers .project-entry-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  break-inside: avoid;
}

.offers .project-entry-info > * {
  flex: 1;
}

.offers .project-entry-title {
  flex: 3;
  border-bottom: 0px solid #aeaeae;
}

.offers .project-list-summary {
  flex: 10;
}

.offers .project-list-summary p {
  margin-top: 0;
}

.offers ul {
  margin: 0;
  padding: 1em 0;
  //list-style-position: inside;
}

.offers ul>lili {
  display: flex;
  margin-bottom: 0.5em;
  padding-left: 1em;
}

.offers ul>li:before {
  content: "●";
  margin-right: 0em;
  margin-left: 1em;
}

.offers .project-entry.small {
  max-width: 12em;
  min-height: 21em;
  margin: 2em 0;
}

.offers .project-entry-title {
  font-size: 1.5em;
  line-height: 1.2;
}

.background-head {
  --element_color: rgb(248, 247, 247);
}

.background-0 {
  --element_color: rgb(254, 227, 230);
}

.background-1 {
  --element_color: rgb(229, 229, 255);
}

.background-2 {
  --element_color: rgb(229, 242, 229);
}

.project-entry-type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em 0.4em;
  background-color: var(--color-bg);
  border-left: 1px solid #101010;
  border-bottom: 1px solid #101010;
  border-top-right-radius: 10px;

  a {
    @include font-size('sm');
  }
}

.project-entry-info {
  padding: 1.2em;
  border-bottom: 0px solid;

  @include respond-to('small') {
    padding: 2em 1em 1em;
  }
}

.project-entry-title {
  margin: 0;
  font-weight: 600;
}

.project-list-summary {
  @extend .summary-text;
}

.project-list-meta {
  @extend .meta-text;
  margin-top: 10px;
}
</style>
