{{ define "main" -}}
<div class="container">
  {{ $pages := .RegularPagesRecursive }}
  <section class="page-header">
    <h1 class="page-header-title">{{ .Title }}{{ if gt (len $pages) 0 }} - {{ len $pages }}{{ end }}</h1>
    <p class="page-header-desc">
      {{- with .Params.Summary -}}
        {{- . -}}
      {{- end -}}
    </p>
  </section>
  {{ if ge (len (split .Path "/")) 3 }}
    {{ $pagesstats := where $pages "Params.data.needexpert" "ne" "" }}
    <h2>Statistiques générales</h2>
    {{ partial "interviews/generalstats.html" $pages }}
    <h2 hidden>Répartition des sujets clefs</h2>
    {{ partial "interviews/topicsstats.html" (dict "context" . "pages" $pages) }}
  {{ end }}
    <h2>Liste de personnes interviewées</h2>
    <section class="list list-interview">
      {{- range .Pages }}
      <div class="enlarge-link">
        <div class="project-entry-info">
          <h3 class="project-entry-title">
            <a href="{{ .Permalink }}">{{ with .Title }}{{ . }}{{ else }}{{ .Params.name }}{{ end }}</a>
            <sup>{{ partial "general/label-drafts.html" . }}</sup>
            {{/* if ne .Params.data.sector "" }}<br><small>{{ .Params.data.sector }}</small>{{ end */}}
          </h3>
          {{ with .Params.date }}<time>{{ time.Format "2 Jan 2006" . | safeHTML }}</time>{{ end }}
          <div class="project-list-meta">
            {{ with .Params.techstack }}
            {{ range . }}
              <span>{{ . }}</span>
            {{ end }}
            {{ end }}
          </div>
          {{- if (index .Params.data "first-win") -}}
          <p class="project-list-summary">
          {{ index .Params.data "first-win" }}
          </p>
          {{- end -}}
        </div>
      </div>
      {{ end }}
    </section>
</div>
{{ end }}
