{{ define "main" }}
<div class="container">
  {{ $path := index (split .RelPermalink "/") 2 }}
  {{ $pages := where (where .Parent.RegularPagesRecursive "Params.slugpath" "eq" $path) "Title" "ne" "Model" }}
  <section class="page-header--c">
    <nav class="nav-transverse">
      <strong>Menu interviews :</strong>
      {{ $title := cond (ne .Params.name "") .Params.name .Title }}
      <ul class="list-unstyled list-inline">
      {{ range $pages }}
      <li>
        {{ $name := cond (ne .Params.name "") .Params.name .Title }}
        {{ if ne $title $name }}<a href="{{ .Permalink }}">{{ end }}
          {{ $name }}
        {{ if ne $title $name }}</a>{{ end }}
      </li>
    {{ end }}
    </ul>
    </nav>
    <h1 class="page-header-title">{{ with .Title }}{{ . }}{{ else }}{{ .Params.name }}{{ end }}</h1>
  </section>
</div>
<section class="generic-single container">
  <div class="single-container markdown">
    {{ if in .Permalink "ethiopy"}}
      {{- $path := "form/ATIethiopy" }}
      {{- $questions := slice "countries" "estimated-action-accessibility" "estimated-knowledge-accessibility" "first-block" "first-win" "first-word" "idea-external" "idea-internal" "jobtitle" "mission-issue-futur" "mission-issue-present" "sector" "successfactors" "developfactors" "issues" "accountability" "needexpert" -}}
      {{- $questions := slice "countries" "jobtitle" "first-block" "first-win" "first-word" -}}
      {{ range last 1 (readDir $path) }}
          {{- range $key, $value := index (unmarshal (readFile (printf "%s/%s" $path .Name))) "form" }}
          {{- range .questions}}
            {{- if ne .name "name" }}
            {{- if or (index $.Params.data (anchorize .label)) (index $.Params.data (.label)) }}
              <p><strong>{{ .label }}</strong></p>
              {{- $markdown := cond (not (index $.Params.data (anchorize .label))) "" (index $.Params.data (anchorize .label)) }}
              {{- $markdown := (printf "%s%s" (cond (not (index $.Params.data (.label))) "" (index $.Params.data (.label))) $markdown) | markdownify}}
              {{ if not ( findRE "<[h|p][^>]*>" $markdown ) }}
                  <p>{{ $markdown }}</p>
              {{ else }}
                  {{ $markdown }}
              {{ end }}
            {{- end }}
            {{- end }}
          {{- end }}
          {{- end }}
      {{ end }}
    {{ else }}
      {{- $path := "form/digitala11y" }}
      {{- $questions := slice "countries" "estimated-action-accessibility" "estimated-knowledge-accessibility" "first-block" "first-win" "first-word" "idea-external" "idea-internal" "jobtitle" "mission-issue-futur" "mission-issue-present" "sector" "successfactors" "developfactors" "issues" "accountability" "needexpert" -}}
      {{- $questions := slice "countries" "jobtitle" "first-block" "first-win" "first-word" -}}
      {{ range last 1 (readDir $path) }}
          {{- range $key, $value := index (unmarshal (readFile (printf "%s/%s" $path .Name))) "form" }}
          {{- range where .questions "name" "in" $questions }}
            {{- if ne .name "name" }}
            {{- if index $.Params.data .name }}
              <strong>{{ .label }}</strong><br>
              {{ index $.Params.data .name }}<br><br>
            {{- end }}
            {{- end }}
          {{- end }}
          {{- end }}
      {{ end }}
    {{ end }}
    {{ if .Content }}<h2>Questions semi-dirigées</h2>{{ end }}
    {{ partialCached "content.html" .Content .Content }}
  </div>
</section>
{{ end }}