.single-feature-img {
  display: flex;
  justify-content: center;
  img {
    margin: 0 0 1.5em;
    max-width: 100%;
    height: auto;
  }

  figure:has(img) {
    img {
      margin: 0 auto;
    }
  }
}

.single-post-image-block {
  img {
    margin: auto;
  }
}


.single-terms {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 20px;
}

.single-container {
  @extend .container;
  max-width: 900px;
}

.single-container-post {
  @extend .container;
  max-width: 900px;

  @include respond-to('x-large') {
    max-width: $max-width;
    display: grid;
    grid-template-columns: 4fr minmax(19rem,1fr);
    gap: 1rem;
  }
}

.single-post-contents {
  overflow: auto;
}

.series {
  @include font-size('base');
  margin: 2rem 0;
}

.series-this-post {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 0.3rem;
  @include font-size('sm');
  font-weight: 500;
  margin-left: 10px;
}

.single-next-previous {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: baseline;
  }

  a {
    display: block;
    background-color: transparent;
    border: 1px solid var(--color-contrast-medium-low);
    border-radius: 12px;
    padding: 1rem;
    @include font-size('base');
    max-width: 18.75rem;
    &:hover {
      text-decoration: none;
      border: 1px solid var(--color-contrast-high);
    }
  }
}

.related-posts {
  @include font-size('base');
}

.single-avatar-block {
  padding: 0 1rem;
  font-size: 80%;
  overflow: hidden;
  background: #000;
  border-radius: 10px;
  *, b {
    margin: 0;
    color: #fff;
  }
  img {
    height: 100%;
    object-fit: cover;
  }
}

.single-avatar-block-text {
  padding: 1rem;
}
