{{- $title := .Get 0 -}}
{{- with .Page.Params.slides }}
{{ with $title }}
<div class="container-full mt-4 mb-0 p-relative ">
  <h2 class="title-scroll center pt-1 pb-2 mb-0">{{ . }}</h2>
  <div class="down-arrow"></div>
</div>
{{ end }}
<section id="section-scroll" class="container-full section-special mb-4">
  <div class="pin-wrap-sticky">
    <div class="pin-wrap">
    {{- range $id, $value := . }}
    <div class="slide">
      <div>
      {{ with .title  }}<h2>{{ .  }}</h2>{{ end }}
      {{ with .description  }}{{ . | markdownify }}{{ end }}
      </div>
    </div>
    {{ end -}}
    </div>
  </div>
</section>

<style>
  @keyframes move {
    to {
      /* Move horizontally so that right edge is aligned against the viewport */
      transform: translateX(calc(-100% + 100vw));
    }
  }

  body:has(#section-scroll) {
    overflow-x: hidden;
  }

  .title-scroll {
    background: color-mix(in srgb, var(--color-special), white 88%);
  }

  .down-arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.8s infinite
  }

  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    will-change: margin-top;
    transform: rotateZ(45deg);
  }

  @keyframes jumpInfinite {
    0% {
      bottom: 20px;
    }
    50% {
      bottom: 50px;
    }
    100% {
      bottom: 20px;
    }
  }

  #section-scroll {
    padding: 2em 0;
  }

  .pin-wrap {
    display: grid;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 1em 4vw;
  }


  @scope (#section-scroll) {

    .slide {
      font-size: 110%;
      padding: 6em 3em;
      min-width: 5dvw;
      background: rgba(255,255,255,0.05);
      border-radius: 2em;
      border: 2px solid rgba(255,255,255,0.2);
    }

    .slide h3 {
      margin-top: 0;
    }

    .slide p {
      font-size: 130%;
    }

    .slide h3 {
      margin-top: 0;
      font-size: 250%;
    }

    img {
      height: 80vh;
      width: auto;
      max-width: 100%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: 60rem) {
    @supports (view-timeline-axis: block) {
      #section-scroll {
        /* Stretch it out, so that we create room for the horizontal scroll animation */
        height: 300vh;
        overflow: visible; /* To make position sticky work … */

        view-timeline-name: --section-pin-tl;
        view-timeline-axis: block;
      }

      .pin-wrap-sticky {
        /* Stick to Top */
        height: 100dvh;
        width: 100dvw;
        position: sticky;
        top: 0;
        overflow-x: hidden;
      }

      .pin-wrap {
        grid-template-columns: repeat({{ len . }}, 1fr);
        flex-direction: row;
        justify-content: flex-start;
        height: 100dvh;
        width: 200vmax;
        /* Hook animation */
        will-change: transform;
        animation: linear move forwards;

        /* Link animation to view-timeline */
        animation-timeline: --section-pin-tl;
        animation-range: contain 0% contain 100%;
      }

      .slide {
        min-height: 45vh;
      }
    }
  }

</style>
{{ end }}
